form {
  margin-bottom: 0;
}

.todo-app {
  max-width: 800px;
}

.list-group-item {
  min-height: 50px;
}

.list-group-item .btn-group {
  display: none;
}

.list-group-item:hover .btn-group {
  display: inline-flex;
}

.done {
  text-decoration: line-through; /* Главное свойство — линия поверх текста */
  color: #888; /* Дополнительно делаем текст серым */
  opacity: 0.7; /* Можно слегка уменьшить прозрачность */
}

.main-link {
  color: #000;
  text-decoration: none;
}

.m-0 {
  text-align: center;
}
